
<%= render partial: 'application/flash_error' %>

<div class="container box">
  <p class="title level-item">Login</p>


  <div class="field">
    <%= form_tag '/login' do %>
      <div class="field">
      	<%= label_tag :username, "Username", class: "label"%>
        <div class= "control has-icons-left">
      	   <%= text_field_tag :username, nil, class: "input" %>
           <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
          </span>
        </div>
      </div>
      <div class="field">
      	<%= label_tag :password, "Password", class: "label" %>
        <div class= "control has-icons-left">
           <%= password_field_tag :password, nil, class: "input" %>
           <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
          </span>
        </div>
      </div>
      <div class="field">
      	<%= submit_tag "Login", class: "button is-link is-success is-level"%>
      </div>
    <% end %>
  </div>

  <p>OR</p>
  <br>


  <%= button_to "Create an Account", new_reader_path, method: 'get', class: "button is-link is-normal" %>
  </div>
  </section>

</div>




<!--     <div class="field">
      <%#= f.label :username, class: "label"%>
      <div class="control has-icons-left has-icons-right">
        <%#= f.text_field :username, class: "input"%>
        <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span> 
      </div>     
    </div>

    <div class="field">
      <%#= f.label :password , class: "label"%>
      <div class="control has-icons-left has-icons-right">
        <%#= f.password_field :password, class: "input" %>
        <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span> 
          </div>
    </div> -->