<section class="hero is-info is-bold is-normal">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      	Bokmärke.
	  </h1>
      <h2 class="subtitle">
        <em>"the world's greatest book tracking platform" -<%= Author.all.sample.name %></em>
      </h2>
    </div>
  </div>
</section>

<%= render partial: 'application/flash_error' %>

<section class="section">
    <div class="container">
<%= form_tag '/login' do %>
	<%= label_tag :username %>
	<%= text_field_tag :username %>
	<%= label_tag :password %>
	<%= password_field_tag :password %>
	<%= submit_tag "Login",  class: "tag is-link is-medium" %>
<% end %>

<%= button_to "Create an Account", new_reader_path, method: 'get', class: "tag is-link is-medium" %>
</div>
</section>