<div class="tile is-ancestor container">
	<div class="tile is-vertical is-parent">
	    <div class="tile is-child box">
	    	<p class="title level-item">
	    		All Readers
	    	</p>
	    	<div class="content container">
				<%= render partial: 'application/flash_error' %>
					<div class="field has-addons-centered">
						<div class="control">
							<%= form_tag readers_path, method: 'get' do %>
								<%= text_field_tag :search, params[:search], class: "input", id: "reader-search" %>
								<div class="container has-text-centered">
									<%= submit_tag "Search", class: "button is-success" %>
								</div>
							<% end %>
							<div class="container has-text-centered">
								<%= button_to "Random Reader", reader_path(Reader.all.sample), method: "get", class: "button" %>
									
							</div>
						</div>
					</div>
			</div>
	    	<div class="content container">
				<ul>
					<% @readers.each do |reader| %>
						<li><%= link_to reader.username, reader_path(reader) %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>

	