<div class="tile is-ancestor container">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
    	<!-- <p class="title">Books</p> -->
			<figure class="image is-4by5">
	            <img src="https://i.pravatar.cc/400x500">
	          </figure>
    	<div class="content">
    		<p>&nbsp;</p>
	          <% if is_current_profile? %>
				<%= button_to "Edit My Profile", edit_reader_path(@reader), method: 'get', class: "tag is-link is-medium level-right" %>
				<%= button_to "Delete My Profile", reader_path(@reader), method: 'delete', class: "tag is-danger is-medium level-right" %>
			<% end %>
			<p>&nbsp;</p>
			<table>
				<tbody>
					<tr>
						<td>Favorite Book:</td>
						<td><%= link_to @reader.display_fav_book_by_id, book_path(@reader.fav_book) %></td>
					</tr>
					<tr>
						<td>Favorite Author:</td>
						<td><%= link_to @reader.display_fav_author_by_id, author_path(@reader.fav_author) %></td>
					</tr>
				</tbody>
			</table>
		</div>
  	</div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title">
		<%= @reader.username %>
		
      </p>
      <div class="content">
		<%= render partial: 'reader_analytics' %>
  	  </div>
  	</div>
  </div>
</div>


<% if @reader.goals.any? %>
	<div class="tile is-ancestor container">
		<div class="tile is-vertical is-parent">
		    <div class="tile is-child box">
		    	<a name="read-list" ></a>
		    	<p class="title level-item">
		    		Reading List:
	    		</p>
				<p class="content container">
					<%= render partial: 'reader_goals' %>
				</p>
			</div>
	    </div>
	</div>
<% end %>