<h1><%= @reader.username %></h1>

<% if is_current_profile? %>
	<%= button_to "Edit My Profile", edit_reader_path(@reader), method: 'get' %>
	<%= button_to "Delete My Profile", reader_path(@reader), method: 'delete' %> <!-- USER PROMPT -->
<% end %>

<h2>Real Name: <%= @reader.name %></h2>
<p>Age: <%= @reader.age %>
<p>Bio: <%= @reader.bio %></p>


<p><%= link_to @reader.display_fav_book_by_id, book_path(@reader.fav_book) %></p>
<p><%= link_to @reader.display_fav_author_by_id, author_path(@reader.fav_author) %></p>



<% if @reader.goals.any? %>
	<h1>Reading List: </h1>
	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Status</th>
				<th>Date Updated</th>
				<% if is_current_profile? %>
					<th>Actions</th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<%@reader.goals.each do |goal| %>
			<tr>
				<td><%= link_to goal.book.title, book_path(goal.book) %></td>
				<td><%= link_to goal.author.name, author_path(goal.author) %></td>
				<td><%= goal.check_if_true %></td>
				<td><%= goal.updated_at.strftime("%b %-d, %Y")%></td>
				<% if is_current_profile? %>
					<td>
						<% if goal.status %>
							<%= button_to "Leave Review", "/books/#{goal.book_id}/#review", method: "get" %>
						<% else %>
							<%= button_to "Finished Book", update_status_path(goal), method: "patch" %>
						<% end %>
						<%= button_to "Delete Book", goal_path(goal), method: "delete" %></td>
				<% end %>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

