<h1><%= @book.title %></h1>
<h2><%= link_to @book.author.name, author_path(@book.author) %></h2>
<img src="<%= @book.img %>">

<%= render partial: "book_analytics" %>

<p><%= @book.description %></p>



<% if session_user.can_add_to_reading_list?(@book)%>
	<%= render partial:"goals/add_goal_form" %>

	<% elsif is_logged_in? %>
		<p>This book is in your reading list. <%= link_to "View Reading List", reader_path(session_user.id) %></p>

<% end %>

<a name="review" ></a>

<% if session_user.can_review?(@book)%>
	<h3>Leave a Review </h3>
	<%= render partial: 'application/error_notice', locals: { new_object: @review } %>
	<%= render partial:'reviews/review_form', locals: {book: params[:id], goal: session_user.goal_by_book(@book).id, submit_text: "Submit Review"} %>
<%end%>

<h3>Reviews</h3>

<% if @book.reviews.any? %>
	<table>

	<% @book.reviews.reverse.each do |review| %>
		<tr>
			<td>
				<div>User: <%= review.goal.reader.username %></div>
				<div>Date: <%= review.created_at.strftime("%b %-d, %Y")%></div>
			</td>
			<td>
				<div>Rating: <%= review.rating %></div>
				<div><%= review.content %></div>
				<div>Recommended? <%= review.recommend %></div>
			</td>
		</tr>
	<% end %>
	</table>
<% else %>
	<p>This book has not been reviewed yet!</p>
<% end %>
