<%= form_for @goal do |f| %>
	<%= f.hidden_field :reader_id, value: session_user.id %>
	<%= f.hidden_field :book_id, value: params[:id] %>
	<div>
		<%= f.label "Already Read" %>
		<%= f.radio_button :status, true %>
		<%= f.label "Want to Read" %>
		<%= f.radio_button :status, false %>
	</div>
	<%= f.submit "Add to Reading List" %>
<% end %>