<%= form_for @review do |f| %>
	<%= f.hidden_field :book_id, value: book %>
	<%= f.hidden_field :goal_id, value: goal %>

	<div>
		<%= f.label :content  %>
		<%= f.text_area :content %>
	</div>
	<div>
		<%= f.label :rating %>
		<%= f.number_field :rating %>
	</div>
	<div>
		<%= f.label :recommend, "Recommended?" %>
		<%= f.check_box :recommend %>
	</div>
	<div>
		<%= f.submit submit_text %>
	</div>
<% end %>