<!DOCTYPE html>
<html>
  <head>
    <title>Bokmärke</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Home", home_path %> /
      <%= link_to "Books", books_path %> /
      <%= link_to "Authors", authors_path %> /
      <%= link_to "Readers", readers_path %> /
      <% if session[:username] %>
        <%= link_to "#{session[:username]}'s Profile", reader_path(Reader.find_by(username: session[:username])) %> /
        <%= link_to "Log Out", logout_path, method: 'delete' %>
      <% else %>
        <%= link_to "Log in", login_path %>
      <% end %>

    </nav>

    <%= yield %>

  </body>
</html>
